h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;

}

/* --------------------------------------------------------- Landing Page ----------------------------------------------------------- */

.homepage {
  background-image: url('../src/assets/shelf-swap-landing.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  min-height: 100vh; 
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF4F4;
  text-align: center;
}

.home-title {
  font-weight: 900;
  font-size: 35px;
}

.home-text {
  font-size: 20px;
}

.home-btn,
.submit-btn {
  border: none;
  outline: none;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #F7E6C4;
  font-weight: 800;
}

.btn.btn-warning {
  background-color: #FFF4F4;
}

.home-btn:hover,
.btn.btn-warning:hover,
.submit-btn:hover {
  background-color: #F1C376;
}

/* ----------------------------------------------------------- NavBar ---------------------------------------------------------------- */ 








#button {
  background-color: #820000 !important; 
  border-color: #820000 !important;
  color: #FAECD6 !important;
margin: 5px;
display: flex;
flex: row;
}

#button:hover{
  background-color: #FAECD6 !important;
  color:black !important;
}
#nav{
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
  color: #FAECD6;
}
#nav:hover{
  background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

body{
  background-color: #FAECD6 !important;
}

#login-button{
  background-color: #820000 !important; 
  border-color: #820000 !important;
  color: #FAECD6 !important;
  margin-top: 5% !important;
}
#login-button:hover{
  background-color: #FAECD6 !important;
  color:black !important;
}

.card-spacing {
  margin: 20px; 
  border-radius: 5px !important;
  max-width: 20%;
  display: flex;
  flex-direction: row;
}

#card-group{
  min-width: 100% !important;
}