.aside-component {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 50px;
  background-color: #333;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
}

.tab {
  background-color: #F2DEBA;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: sticky;
  text-align: center;
  top: 0;
}

.content {
  padding: 20px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.aside-component.active {
  width: 250px;
}

.aside-component.active .tab {
  background-color: #F2DEBA;
}

.aside-component.active .content {
  visibility: visible;
  opacity: 1;
}


@media (max-height: 800px) {
  .tab {
    display: block;
  }
}
